<div class="auth-wrapper">
  <div class="auth-content">
   <!--Fondo animado / decorativo-->
    <div class="auth-bg">
      <span class="r"></span>
      <span class="r s"></span>
      <span class="r s"></span>
      <span class="r"></span>
    </div>
    <!--Formulario Angular-->
    <div class="card">
      <div class="card-body text-center">
        <form (ngSubmit)="onSubmit($event)">
          <div class="mb-4">
            <i class="feather icon-unlock auth-icon"></i>
          </div>
          <h3 class="mb-4">Bienvenido</h3>
          <div class="input-group mb-3">
            <!--Campo de ususario-->
            <input
              type="text"
              class="form-control"
              id="floatingInput"
              [class.is-invalid]="submitted() && loginForm.user().invalid()"
              placeholder="Usuario"
              [field]="loginForm.user"
            />
            <!--muestra los errores de usuario-->
            @if (submitted() && loginForm.user().invalid()) {
              <div class="invalid-feedback">
                @for (error of loginForm.user().errors(); track error.kind) {
                  <div>{{ error.message }}</div>
                }
              </div>
            }
          </div>
          <!--Campo de contraseña Angular-->
          <!--Campo CONTRASEÑA con mostrar/ocultar-->
          <div class="input-group mb-4">
            @if (!showPassword()) {
              <input
                type="password"
                id="password"
                class="form-control"
                [field]="loginForm.password"
                [class.is-invalid]="submitted() && loginForm.password().errors().length > 0"
                placeholder="Contraseña (min. 8 characters)"
              />
            } @else {
              <input
                type="text"
                id="password"
                class="form-control"
                [field]="loginForm.password"
                [class.is-invalid]="submitted() && loginForm.password().errors().length > 0"
                placeholder="Password (min. 8 characters)"
              />
            }
            <!--Ícono mostrar / ocultar contraseña-->
            <i
              [ngClass]="showPassword() ? 'feather icon-eye' : 'feather icon-eye-off'"
              id="togglePassword"
              (click)="togglePasswordVisibility()"
            ></i>
            @if (submitted() && loginForm.password().errors().length > 0) {
              <div class="invalid-feedback">
                @for (error of loginForm.password().errors(); track error.kind) {
                  <div>{{ error.message }}</div>
                }
              </div>
            }
          </div>
          <button type="submit" class="btn btn-primary mb-4">Ingresar</button>
        </form>
      </div>
    </div>
  </div>
</div>
