<div class="navbar">
  <div>
    <img src="assets/images/confienvios1.PNG" alt="Logo" width="500" />
  </div>

  <ul class="navbar-nav">
    <ul class="navbar-nav ms-auto"></ul>
    <li>
      <div class="dropdown drp-user" ngbDropdown placement="auto">
        <a href="javascript:void(0)" ngbDropdownToggle data-toggle="dropdown">
          <i class="icon feather icon-settings"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-end profile-notification" ngbDropdownMenu>
          <div class="pro-head">
            <img src="assets/images/user/avatar-1.jpg" class="img-radius" alt="User-Profile-Image" />
            <span>Derly Herrera</span>
            <a href="javascript:void(0)" class="dud-logout" title="Logout">
              <i class="feather icon-log-out"></i>
            </a>
          </div>
          <ul class="pro-body">
            <li>
              <a href="javascript:void(0)" class="dropdown-item" (click)="cerrarSesion()">
                <i class="feather icon-lock"></i>
                Cerrar
              </a>
            </li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
</div>
